.task-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.task-input {
    width: 350px;
    font-size:  18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 16px 0 0 4px;
    border: 2px solid rgb(187, 12, 134);
    outline: none;
}

.task-button {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 4px 16px 0;
    cursor: pointer;
    outline: none;
    background: rgb(187, 12, 134);
    color: #fff;
    text-transform: capitalize;
}

.task-button:hover {
    background-color: black;
}